.search_head {
    color:white;
    border-bottom: 1px solid;
    border-bottom-color: white;
    margin-bottom: 20px;
    width: 35rem;
}

.search_container ul {
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.search_head li:hover {
    cursor: pointer;
    color: rgb(185, 180, 180) ;
  }

.search_head li:active {
    cursor: pointer;
    color: rgb(216, 200, 52) ;
}


.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
}

.search_only_container{
    flex-direction: column;
    align-items: center;
    width: 67rem;
}

.search_only {
    display: flex;
    width: 60rem;
    /* height: 30px; */
    justify-content: space-around;
}

.search_only input {
    border-radius: 5px;
    border: 0;
    width: 25rem;
    padding: 14px;
}

.search_btn {
    width: 130px;
    padding: 14px;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.5s;
}

.search_btn:hover {
    cursor: pointer;
    background-color: #a7874b;
}

@media only screen and (min-width: 681px) and (max-width: 960px) { 
    .search_only { 
        width: 42rem; 
    } 
 
    .search_only input {         
        width: 17rem; 
    } 
 
    .search_head { 
        width: 24rem; 
    } 
     
} 
 
@media only screen and (max-width: 680px) { 
    .search_only { 
        flex-direction: column; 
        align-items: center; 
        width: 47rem; 
    } 
 
    .search_only input {         
        width: 18rem; 
        margin: 6px; 
    } 
 
    .search_head { 
        border-bottom: none; 
        width: 22rem; 
    } 
     
}