.businessBlock a {
    text-decoration: none;
    color: inherit;
}

.businessBlock {
    width: 340px;
    margin: 0 10px 20px 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.businessBlock h2, .businessBlock img {
    display: flex;
    justify-content: center;
}

.businessBlock h2 {
    align-items: center;
    height: 4rem;
    border-bottom: double #b3acac;
    margin-bottom: 19px;
}

.businessBlock img {
    width: inherit;
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.left_right {
    display: flex;
    justify-content: space-between;
}

.adrss {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.cut_img {
    background-color: black;
    height: 22rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.rating {
    color: #a7884c;
}

.rating, .review{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.rating span {
    font-size: 20px;
}

.review span {
    color: rgb(27, 27, 160);
}

.tv {
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 14px 14px rgba(0,0,0,.15);
    transition: all .4s ease;
  }
  .tv:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 7px 7px rgba(0,0,0,.25);
  }
  
  @media only screen and (max-width: 680px) {
    .tv:hover {
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
        box-shadow: 14px 14px rgba(0,0,0,.15);
    }

    @media only screen and (max-width:430px) {
        .cut_img {
            max-height: 15rem;
        }
    
        .businessBlock {
            max-width: 230px;
            font-size: 4vw;
        }

        .rate {
            font-size: 5vw;
        }

        .rating, .review {
            font-size: inherit;
        }

        .rating_numb {
            font-size: 1.2rem;
        }

        .review {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
  }