h1 {
  font-family: 'Raleway',sans-serif;
}

.rav {
  display: flex;
  background-color: #cca353;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.rav h1 {
  color: white;
  font-size: 62px; 
  font-weight: 800;
}

.body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

.header {
  background-image: url(./components/SearchBar/background_search_desktop.jpg);
  background-size: cover;
  height: 25rem;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

.business_container {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media only screen and (max-width: 680px) { 
  .header { 
    background-image: url(/src/components/SearchBar/background_search_mobile.jpg); 
  } 

  .rav h1 {
    font-size: 40px; 
  }
}