.rav {
  background-color: #cca353;
  height: 80px;
}

.rav h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

.header {
  background-image: url(./components/SearchBar/background_search_desktop.jpg);
  background-size: cover;
  height: 25rem;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.flex {
  display: flex;
}

.business_container {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

@media only screen and (max-width: 680px) { 
  .header { 
    background-image: url(/src/components/SearchBar/background_search_mobile.jpg); 
  } 
}