.header {
  background-image: url(./components/SearchBar/background_search_desktop.jpg);
  background-size: cover;
  height: 25rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

.flex {
  display: flex;
}

.business_container {
  justify-content: space-around;
  flex-wrap: wrap;
}